<% @hide_dynamic=true %>
<% javascript "header" %>
<% title "Users" %>

<div class="span-24 sidebar_container last">
	<div class="span-24 padabit">
		<%= render :partial=>"user_menu" %>
	</div>
</div>
<div class="span-24 padown last">&nbsp;</div>
<div id="containsgrid" class="span-24">
	<table>
	  <tr>
	    <th>Login</th>
	    <th>Admin</th>
	    <th>Editor</th>
	  </tr>
	  <% for user in @users %>
	    <tr>
	      <td><%=h user.login %></td>
	      <td><%=h user.admin %></td>
	      <td><%=h user.editor %></td>
	      <td><%= link_to "Show", user %></td>
	      <td><%= link_to "Edit", edit_user_path(user) %></td>
	      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
	    </tr>
	  <% end %>
	</table>

	<p><%= link_to "New User", new_user_path %></p>
</div>