<% @use_dynamic=true %>
<% title "Show User" %>

<div class="span-24 sidebar_container last">
	<div class="span-24 padabit">
		<%= render :partial=>"user_menu" %>
	</div>
</div>
<div class="span-24 padown last">&nbsp;</div>
<div id="containsgrid" class="span-24">
	<p>
	  <strong>Login:</strong>
	  <%=h @user.login %>
	</p>
	<p>
	  <strong>Email:</strong>
	  <%=h @user.email %>
	</p>
	<p>
	  <strong>Admin:</strong>
	  <%=h @user.admin %>
	</p>
	<p>
	  <strong>Editor:</strong>
	  <%=h @user.editor %>
	</p>

	<p>
	  <%= link_to "Edit", edit_user_path(@user) %> |
	  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %>
	</p>
</div>

<script>
	$('#container').prepend('<%= escape_javascript render("layouts/dynamic_header") %>');  
</script>
