<div class="prepend-4 span-16">
  <%= semantic_form_for @document,:html => { :multipart => true }   do |form| %>
  	<%= form.inputs do %>
  		<%= form.input :document, :as=>:file,:hint => "Click the 'Browse...' button to upload a document" %>
  		<%= form.input :description,:hint => "A one-line description of the file goes here" %>
  		<%= form.input :comments, :required => false, :hint => "Detailed comments go here" %>
  		<%= form.input :document_date,:as=>:string, :hint => "The date the document is effective (e.g. July receipts are July 1, 2009)",:input_html => {:class=>"mydatepicker" } %>
  		<%= form.buttons :commit %>
  	<% end %>
  <% end %>
</div>