<!DOCTYPE html>
<html lang="en-US">
<head>
	<title><%= h(yield(:title) || "Untitled") %></title>

	<%= stylesheet_link_tag 'blueprint/screen', 'jquery-ui-1.8.2.custom',
	'application','formtastic',	'formtastic_changes','colorbox',
	'ui.jqgrid.css', :cache => "cache/all", :recursive => true %>
	
	<%= javascript_include_tag 'jquery-1.4.2.min',"jquery-ui-1.8.2.custom.min.js",
	"jquery.colorbox-1.3.6.min", "grid.locale-en.js", "jquery.jqGrid.min", 
	"application.js",  :cache => "cache/all", :recursive => true %>

	<%= csrf_meta_tag %>
	
	<%= yield(:head) %>  <!-- would render any content_for :head that's defined within a different controller -->
</head>
  <body>
		<div class="container">
    <!-- <div class="container showgrid"> -->
			<%= render 'layouts/dynamic_header' unless @hide_dynamic %>
			&nbsp;
			<div class="span-24 last">
				<div id="main_container">	<!-- defined in application.css -->
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
