<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
	<title><%= h(yield(:title) || "Untitled") %></title>

	<%= javascript_include_tag 'jquery-1.4.2.min',"jquery-ui-1.8rc3.custom.min","jquery.rte",
	"jquery.rte.tb","jquery.ocupload-1.1.4","jquery.colorbox-1.3.6.min", 
	"jrails",
	"grid.locale-en.js", "jquery.jqGrid.min", "jquery.metadata.js","jquery.auto-complete.min.js",
	"jquery.hoverIntent.min.js","jquery.metadata.js","jquery.mb.flipText.min.js","mbExtruder.min.js",
	#"jquery.printElement.min.js","jquery.curvycorners.min",
	"application.js", :cache=>"scripts" %> 

	<%= stylesheet_link_tag 'blueprint/screen',  #blueprint stylesheet
	# jQuery-UI stylesheet
	'jquery-ui-1.8rc3.custom',
	'jquery.rte','application','formtastic',
	'formtastic_changes','colorbox',"jquery.auto-complete.css", 'mbExtruder',
	# Below is for jqGrid 3.6.4
	'ui.jqgrid.css', :cache=>"styles" %> 

	<%= yield(:head) %>  <!-- would render any content_for :head that's defined within a different controller -->
</head>
<body>
	<div class="container">
	<!-- <div class="container showgrid"> -->
		<div class="span-24 last">
			<div id="header_container">  <!-- for header backgrounds or borders, etc. in application.css -->
				<%- if show_title? -%>
				<h1><%=h yield(:title) %></h1>
				<%- end -%>
				<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<%- end -%>
			</div>
		</div>
		<div class="span-24 box sidebar_container">
			<div class="padabit">
				<%= yield :sidebar %>					
			</div>
		</div>
		<div class="span-24 last">
			<div id="main_container">	<!-- defined in application.css -->
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
